.schools-container {
   padding: 20px 20px;
   margin: 0 10%;

   .mat-raised-button {
      font-size: 14px;
      color: #fff;
      height: 45px;
      width: 120px;
   }

   .button { background: #27AE60; }

}
