<table mat-table [dataSource]="students" class="mat-elevation-z8">

   <ng-container matColumnDef="enrollment">
     <th mat-header-cell *matHeaderCellDef> Enrollment </th>
     <td mat-cell *matCellDef="let student"> {{student.enrollment}} </td>
   </ng-container>

   <ng-container matColumnDef="name">
     <th mat-header-cell *matHeaderCellDef> Name </th>
     <td mat-cell *matCellDef="let student"> {{student.name}} </td>
   </ng-container>

   <ng-container matColumnDef="class">
     <th mat-header-cell *matHeaderCellDef> Start Date </th>
     <td mat-cell *matCellDef="let student"> {{student.class}} </td>
   </ng-container>
   
   <ng-container matColumnDef="birthDate">
     <th mat-header-cell *matHeaderCellDef> Birth Date </th>
     <td mat-cell *matCellDef="let student"> {{student.birthDate}} </td>
   </ng-container>
   
   <ng-container matColumnDef="email">
     <th mat-header-cell *matHeaderCellDef> Email </th>
     <td mat-cell *matCellDef="let student"> {{student.email}} </td>
   </ng-container>

   <ng-container matColumnDef="phone">
     <th mat-header-cell *matHeaderCellDef> Phone </th>
     <td mat-cell *matCellDef="let student"> {{student.phone}} </td>
   </ng-container>

   <ng-container matColumnDef="zipCode">
     <th mat-header-cell *matHeaderCellDef> ZipCode </th>
     <td mat-cell *matCellDef="let student"> {{student.zipCode}} </td>
   </ng-container>

   <ng-container matColumnDef="street">
     <th mat-header-cell *matHeaderCellDef> Street </th>
     <td mat-cell *matCellDef="let student"> {{student.street}} </td>
   </ng-container>

   <ng-container matColumnDef="state">
     <th mat-header-cell *matHeaderCellDef> State </th>
     <td mat-cell *matCellDef="let student"> {{student.state}} </td>
   </ng-container>

   <ng-container matColumnDef="district">
     <th mat-header-cell *matHeaderCellDef> District </th>
     <td mat-cell *matCellDef="let student"> {{student.district}} </td>
   </ng-container>
   
   <ng-container matColumnDef="city">
     <th mat-header-cell *matHeaderCellDef> City </th>
     <td mat-cell *matCellDef="let student"> {{student.city}} </td>
   </ng-container>
 
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>